In [15]:
# 导入pandas
import pandas as pd
import numpy as np
pd.Series(data=None, index=None, dtype=None)

C:\Users\shimon\AppData\Local\Temp\ipykernel_11876\186338488.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series(data=None, index=None, dtype=None)

Series([], dtype: float64)

In [16]:
pd.Series(np.arange(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [17]:
# 制定索引
pd.Series([6.7,5.6,3,10,2], index=[1,2,3,4,5])

1     6.7
2     5.6
3     3.0
4    10.0
5     2.0
dtype: float64

In [18]:
# 通过字典数据创建
color_count = pd.Series({'red':100, 'blue':200, 'green': 500, 'yellow':1000})
color_count

red        100
blue       200
green      500
yellow    1000
dtype: int64

## Series的属性

In [19]:
color_count.index

Index(['red', 'blue', 'green', 'yellow'], dtype='object')

In [20]:
color_count.values

array([ 100,  200,  500, 1000], dtype=int64)

In [21]:
pd.DataFrame(np.random.randn(2,3))

          0         1         2
0 -1.767210  0.601165  0.105061
1 -0.597331  0.689840 -0.288901

## DataFrame

### DataFramede的创建

In [23]:
pd.DataFrame(np.random.randn(2,3))

          0         1         2
0 -0.072954  0.153849 -0.994502
1 -2.900740  0.185172  2.253579