In [2]:
# 导入pandas
import pandas as pd
import numpy as np
pd.Series(data=None, index=None, dtype=None)

C:\Users\shimon\AppData\Local\Temp\ipykernel_17308\186338488.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series(data=None, index=None, dtype=None)

Series([], dtype: float64)

In [3]:
pd.Series(np.arange(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [4]:
# 制定索引
pd.Series([6.7,5.6,3,10,2], index=[1,2,3,4,5])

1     6.7
2     5.6
3     3.0
4    10.0
5     2.0
dtype: float64

In [5]:
# 通过字典数据创建
color_count = pd.Series({'red':100, 'blue':200, 'green': 500, 'yellow':1000})
color_count

red        100
blue       200
green      500
yellow    1000
dtype: int64

## Series的属性

In [6]:
color_count.index

Index(['red', 'blue', 'green', 'yellow'], dtype='object')

In [7]:
color_count.values

array([ 100,  200,  500, 1000], dtype=int64)

In [8]:
pd.DataFrame(np.random.randn(2,3))

          0         1         2
0 -1.276531 -2.307603  0.867051
1 -2.029174  0.451036  1.811637

## DataFrame

### DataFramede的创建

In [9]:
pd.DataFrame(np.random.randn(2,3))

          0         1         2
0 -1.873115  0.224097  1.914995
1  0.927267 -1.767462 -0.322049

In [13]:
# 生成10个同学，每个同学5门课程，都早40-100分之间
score = np.random.randint(low=40,high=100,size=(10,5))
score

array([[66, 49, 79, 55, 64],
       [41, 48, 46, 90, 42],
       [50, 42, 78, 87, 77],
       [85, 82, 85, 70, 58],
       [94, 61, 74, 94, 78],
       [75, 75, 50, 95, 41],
       [41, 50, 88, 76, 82],
       [44, 65, 85, 52, 92],
       [88, 56, 97, 59, 80],
       [86, 89, 96, 82, 43]])

In [15]:
# 生成10个学生的名字
name_list = [f"同学：{i}" for i in range(10)]
name_list

['同学：0',
 '同学：1',
 '同学：2',
 '同学：3',
 '同学：4',
 '同学：5',
 '同学：6',
 '同学：7',
 '同学：8',
 '同学：9']

In [16]:
score_pd = pd.DataFrame(data=score,index=name_list,columns=["语文","数学","英语","政治","历史"])
score_pd

      语文  数学  英语  政治  历史
同学：0  66  49  79  55  64
同学：1  41  48  46  90  42
同学：2  50  42  78  87  77
同学：3  85  82  85  70  58
同学：4  94  61  74  94  78
同学：5  75  75  50  95  41
同学：6  41  50  88  76  82
同学：7  44  65  85  52  92
同学：8  88  56  97  59  80
同学：9  86  89  96  82  43

### 获取前面三行，默认为5

In [18]:
score_pd.head(3)

      语文  数学  英语  政治  历史
同学：0  66  49  79  55  64
同学：1  41  48  46  90  42
同学：2  50  42  78  87  77

### 获取最后三行,默认为5

In [19]:
score_pd.tail(3)

      语文  数学  英语  政治  历史
同学：7  44  65  85  52  92
同学：8  88  56  97  59  80
同学：9  86  89  96  82  43