In [4]:
import pandas as pd
# 读取文件
data = pd.read_csv("./data/stock_day.csv")

# 删除一些列，让数据更简单些，再去做后面的操作
data = data.drop(["ma5","ma10","ma20","v_ma5","v_ma10","v_ma20"], axis=1)
data

,open,high,close,low,volume,price_change,p_change,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,0.58
...,...,...,...,...,...,...,...,...
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,6.16
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,4.76
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,3.30

In [5]:
# 获取里面的一个值，需要先用列索引再用行索引就行定位
data["low"]["2018-02-22"]

22.02

In [7]:
# 结合loc、iloc使用索引,类型切片操作
data.loc['2018-02-27':'2018-02-22', 'open']

2018-02-27    23.53
2018-02-26    22.80
2018-02-23    22.88
2018-02-22    22.25
Name: open, dtype: float64

In [9]:
# 使用iloc可以通过索引的下标去获取
# 获取前3天数据,前5列的结果
data.iloc[:3, :5]

             open   high  close    low    volume
2018-02-27  23.53  25.88  24.16  23.53  95578.03
2018-02-26  22.80  23.78  23.53  22.80  60985.11
2018-02-23  22.88  23.37  22.82  22.71  52914.01

In [11]:
# 对DataFrame当中的close列进行重新赋值为1
# 直接修改原来的值
data['close'] = 1
data

,open,high,close,low,volume,price_change,p_change,turnover
2018-02-27,23.53,25.88,1,23.53,95578.03,0.63,2.68,2.39
2018-02-26,22.80,23.78,1,22.80,60985.11,0.69,3.02,1.53
2018-02-23,22.88,23.37,1,22.71,52914.01,0.54,2.42,1.32
2018-02-22,22.25,22.76,1,22.02,36105.01,0.36,1.64,0.90
2018-02-14,21.49,21.99,1,21.48,23331.04,0.44,2.05,0.58
...,...,...,...,...,...,...,...,...
2015-03-06,13.17,14.48,1,13.13,179831.72,1.12,8.51,6.16
2015-03-05,12.88,13.45,1,12.87,93180.39,0.26,2.02,3.19
2015-03-04,12.80,12.92,1,12.61,67075.44,0.20,1.57,2.30
2015-03-03,12.52,13.06,1,12.52,139071.61,0.18,1.44,4.76
2015-03-02,12.25,12.67,1,12.20,96291.73,0.32,2.62,3.30

参数：
* by：指定排序参考的键
* ascending:默认升序
    * ascending=False:降序
    * ascending=True:升序

In [13]:
# 按照开盘价大小进行排序 , 使用ascending指定按照大小排序
data.sort_values(by="open", ascending=True).head(3)

,open,high,close,low,volume,price_change,p_change,turnover
2015-03-02,12.25,12.67,1,12.20,96291.73,0.32,2.62,3.30
2015-09-02,12.30,14.11,1,12.30,70201.74,-1.10,-8.17,2.40
2015-03-03,12.52,13.06,1,12.52,139071.61,0.18,1.44,4.76

- 使用df.sort_index给索引进行排序

- 这个股票的日期索引原来是从大到小，现在重新排序，从小到大

In [14]:
# 对索引进行排序
data.sort_index()

,open,high,close,low,volume,price_change,p_change,turnover
2015-03-02,12.25,12.67,1,12.20,96291.73,0.32,2.62,3.30
2015-03-03,12.52,13.06,1,12.52,139071.61,0.18,1.44,4.76
2015-03-04,12.80,12.92,1,12.61,67075.44,0.20,1.57,2.30
2015-03-05,12.88,13.45,1,12.87,93180.39,0.26,2.02,3.19
2015-03-06,13.17,14.48,1,13.13,179831.72,1.12,8.51,6.16
...,...,...,...,...,...,...,...,...
2018-02-14,21.49,21.99,1,21.48,23331.04,0.44,2.05,0.58
2018-02-22,22.25,22.76,1,22.02,36105.01,0.36,1.64,0.90
2018-02-23,22.88,23.37,1,22.71,52914.01,0.54,2.42,1.32
2018-02-26,22.80,23.78,1,22.80,60985.11,0.69,3.02,1.53
2018-02-27,23.53,25.88,1,23.53,95578.03,0.63,2.68,2.39